// Dependencies.

@import 'nib'


// Variables.
noise = url('/images/noise_2.png')
color__white = #FFF
color__dark = #261F00
color__blue = #2996CC
color__subdued = #99968A 
color__moarsubdued = #D6D4CC
color__error = #ff0000
shadow = 0 1px 1px rgba(0,0,0,.15)
font__base = Georgia, Serif

global-reset()

body
  background noise #F0EFE8
  font-family font__base
  font-size 20px
  text-shadow 0 1px 0 #FFF
  color color__dark

a
  color inherit
  &:hover
    color color__blue

.wrapper
  position relative
  margin 0 auto
  width 640px
  z-index 100

.header 
  position relative
  padding-top 48px

.header__title
    font-size 40px
    text-indent -3px

.header__title--subdued
  color color__subdued

.header__link
  text-decoration none
  &:hover
    color color__blue
    text-decoration underline

.about 
  margin 16px 0 0
  padding 6px 0 36px
  line-height 20px
  font-size 14px
  color color__subdued
  border-bottom solid 1px color__subdued
  box-shadow 0 1px 0 color__white
  clearfix()

.avatar
  absolute top 38px left -112px 
  size 64px

.content
  margin 48px 0 96px
  line-height 30px

.content__body

  a
    color color__blue

  & h1
    font-size 28px
    margin 24px 0
  & h2
    font-size 24px
    margin-bottom 16px
  & h3
    font-size 20px
    font-weight bold
    margin-bottom 16px

  & p
  & ul
  & pre
    padding-bottom: 24px

  & pre
    font-family Consolas
    font-size 16px
    line-height: 24px
    word-wrap break-word

  & img
    max-width 100%

  & strong
    font-weight bold
  
  & em
    font-style italic

  & ul
    position: relative

    & li
      position relative
      &::before
        content '—'
        display inline-block
        absolute left -32px
        width: 32px
        color color__subdued
        text-shadow 0 1px 0 color__white

  & ol
    position: relative
    margin-left: -32px
    & li
      padding-left 32px
    & .number
      absolute left 0
      color color__subdued
      font-style italic

  & label
    margin-top 8px
    font-size: 16px
    color color__subdued
    font-style italic

  & input
    display: block
    size 100% 32px
    margin-bottom: 16px
    box-shadow inset shadow
    border 1px solid color__subdued
    font-family font__base
    font-size 20px
    padding-left 10px
    box-sizing border-box

  & textarea
    display block
    width 100% !important
    height 288px
    margin-bottom 16px
    box-shadow inset shadow
    border 1px solid color__subdued
    background noise #FFF
    font-family font__base
    font-size 20px
    padding 10px
    box-sizing border-box

  & button[type=submit]
    size 144px 36px
    background-color #FFE666
    outline none
    border 1px solid color__subdued
    box-shadow shadow
    float right
    padding 0
    font-size 16px
    font-family font__base

    &:active
      background #EED555

.content-header
  padding-bottom: 24px

.content-header__title
  font-size 32px

.content-header__subtitle
  font-size 14px
  color color__moarsubdued
  text-shadow: 0 1px 0 #FAF9F7

.content-header__link
  text-decoration none
  &:hover
    color color__blue
    text-decoration underline


.articles-list
  position relative
  line-height 34px

.articles-list__title
  position absolute
  left -112px
  display block
  width 64px
  text-align center
  color color__subdued

.articles-list__inline-subtitle
  color color__moarsubdued
  font-size 14px
  margin-left: 8px

.articles-list__item
  .articles-list__link
    text-decoration none
    color inherit
    &:hover
      color color__blue
      text-decoration underline

.topbar
  absolute top - left 0
  width 100%
  font-size 14px
  margin-top 10px
  text-align: right
  color color__moarsubdued
  z-index: 200

.empty-list
  color color__subdued
  font-size 16px
  font-style italic

.error
  color color__error