extends layout


block content
  .content
    .content-header
      - if (post)
        .content-header__title= post.title
      - else
        .content-header__title Новая статья
    .content__body
      - if (post)
          form(method='post' action='/posts/#{post._id}/')
            label(for='article-title') Заголовок
            input#article-title(name='title' value='#{post.title}' required)
            label(for='article-content') Содержимое (markdown)
            textarea#article-content(name='content' required)= post.content
            button(type='submit') Опубликовать
      - else
          form(method='post' action='/posts')
            label(for='article-title') Заголовок
            input#article-title(name='title' required)
            label(for='article-content') Содержимое (markdown)
            textarea#article-content(name='content' required)
            button(type='submit') Опубликовать