doctype html
html
  head
    title Топнет
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/prism.css')

  body
    .wrapper
      include topbar
      include header
      include about
      block content

  script(src="/javascripts/prism.min.js")
  script(src="/javascripts/ol-li.js")